$darkCyan: hsl(185, 75%, 39%);
$veryDarkDesaturedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
$darkGrayishBlueBorder: hsl(227, 10%, 90%); // User Content Border Color
$darkGray: hsl(0, 0%, 59%);